h4{
    color:white;
    font-size: 1.3vw;
}

.chainData{
    color:#fa741c;
    font-size: 1vw;
    padding-top:.5vh;
}

.metrics-container{
    border: #fa741c 1px solid;
    height:10vh;
    width: 14.3vw;
    padding-top:2vh;
    padding-left:2vh
}

#totalMetricsContainers{
    padding-top:2vh
}
#headlineContainer{
    height:18%
}