#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
}

#mainContent{
    padding-top:2vh
}

.mainContentP{
    width:100%;
    text-align: justify;
    text-align-last: center
}

#headlineContainer{
    padding-top:4vh;
}

.HighestSectionDiv{
    padding-bottom:0vh;
    height:100vh
}

/*
.contentContainer{
    border: #fa741c 1px solid;
    width:75%;
    padding:1vw
}*/

#buttonContainer{
    width:50%
}

#SectionH1{
    color:#1f1f1f;
    background: #fa741c;
    width:60%
}

.contentContainerMainLanding{
    width: 82%
}

#lottie1{
    fill: transparent !important;
    filter: brightness(20%)  grayscale(100%) drop-shadow(0 0 3px #fa741c);
}