
<div id="builders-program" >
    <div>
      <h1 >Builder's Project</h1>
      <p >The Builder's Project is a special bounty program run by the XCASH Foundation, where contributors and developers can undertake special tasks and development projects to improve the XCASH Project and earn subsequent rewards.<br><br>Builder's Project are listed here, and on our <a href="https://github.com/X-CASH-official/builders-program">official GitHub repository</a>.</p><div class="roadmap-container w-row">
        <div >
          <h2>Open Projects</h2>
        </div>
        <div >
          <div>
          <div>
            <div class="h3-builders-item">No project to display at the moment.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap-container w-row">
      <div class="roadmap-category-container w-col w-col-3">
        <h2 class="roadmap-ongoing">Ongoing</h2>
      </div>
      <div class="roadmap-item-container w-col w-col-9">
        <div class="roadmap-items w-dyn-list">
          <div class="empty-state w-dyn-empty">
            <div class="h3-builders-item">No project to display at the moment.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap-container w-row">
      <div class="roadmap-category-container w-col w-col-3">
        <h2 class="roadmap-done">Done</h2>
      </div>
      <div class="roadmap-item-container w-col w-col-9">
        <div class="roadmap-items w-dyn-list">
          <div role="list" class="roadmap-list w-dyn-items">
            <div role="listitem" class="collection-item-done w-dyn-item">
              <div data-w-id="ffc06932-6b3d-9cd2-6323-5154e3823c6f" class="column-done accordion-container w-row">
                <div class="roadmap-column roadmap-item-title w-col w-col-5">
                  <h3 class="h3-builders-reference">BP-01</h3>
                  <h3 class="h3-builders-item">Android Wallet</h3>
                </div>
                <div class="roadmap-button w-col w-col-5">
                  <a href="https://github.com/X-CASH-official/android-wallet" class="button-roadmap button-done w-button">See Repository</a>
                </div>
                <div class="roadmap-trigger w-col w-col-2">
                  <div  (click)="divToggle('BP01')"  data-w-id="ffc06932-6b3d-9cd2-6323-5154e3823c76" class="arrow-trigger w-embed">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:none;stroke:currentColor;stroke-width:3;stroke-linecap:square;stroke-miterlimit:10;}
                        </style>
                        <g>
                            <g>
                                <line class="st0" x1="8.5" y1="29" x2="50" y2="70.5"></line>
                            </g>
                            <g>
                                <line class="st0" x1="91.5" y1="29" x2="50" y2="70.5"></line>
                            </g>
                        </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div *ngIf="divTab == 'BP01'" class="roadmap-description-container">
                <div class="h3-builders-reference">Builder</div>
                <p class="roadmap-item-description">snakewaypasser</p>
                <div class="h3-builders-reference">Reward</div>
                  <p class="roadmap-item-description">35,000,000 XCASH</p>
                  <a href="https://github.com/X-CASH-official/builders-program/tree/master/BP-01" class="button-done w-button">Project Description</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>