#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
    width:70%
}

#mainContent{
    padding-top:2vh;
}

#headlineContainer{
    height:20%
}

.HighestSectionDiv{
    padding-top: 0vh
}

button{
    width: 95%
}

//Mobile

.MobileButtonContainer{
    width: 74%; 
}