
<div id="go-further" class="section wf-section">
    <div class="w-container">
      <h1 class="h1-section">Go Further</h1>
      <div class="bubble-column w-row">
        <div class="info-bubble w-col w-col-4">
          <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96df3" data-animation-type="lottie" data-src="documents/manphone.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="3.6"  class="info-lottie"></div> -->
          <ng-lottie [options]="options2" class="info-lottie">
          </ng-lottie>
          <h3 class="bubble-title">Join the Growing Community</h3>
          <a href="https://discord.gg/4CAahnd" class="button-orange w-button">Discord Server</a>
        </div>
        <div class="info-bubble w-col w-col-4">
          <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96df9" data-animation-type="lottie" data-src="documents/manacademy.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.0166666666666666"  class="info-lottie"></div> -->
          <ng-lottie [options]="options3" class="info-lottie" data-default-duration="2.0166666666666666" >
          </ng-lottie>
          <h3 class="bubble-title">Read the Documentation</h3>
          <a href="https://docs.xcash.foundation/" class="button-orange w-button">Documentation</a>
        </div>
        <div class="info-bubble w-col w-col-4">
          <!-- <div data-w-id="e3d6bbc5-d4eb-2074-6121-d809d8c96dff" data-animation-type="lottie" data-src="documents/womanread.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.466666666666667"  class="info-lottie"></div> -->
          <ng-lottie [options]="options4" class="info-lottie"  data-default-duration="2.466666666666667" >
          </ng-lottie>
          <h3 class="bubble-title">Read The Latest News</h3>
          <a href="https://medium.com/x-cash" class="button-orange w-button">Blog</a>
        </div>
      </div>
    </div>
  </div>
  