<div *ngIf="(screenWidth >= 600)" class="HighestSectionDiv" fxLayoutAlign="center center" fxLayout="column"> 

    <h1>Ethos</h1>

    <p>The XCASH Foundation is managing the development of the XCASH Project, providing funding for community-driven projects and bounties for necessary developments.<br>‍<br>Join us and be part of this adventure with us.</p>

    <div style="width: 70%">
        <h3>What we believe in:</h3>
        <ul role="list" >
            <li>We are an <strong>open-source</strong> and <strong>self-funded</strong> project that aims at <strong>building technology first</strong>.</li>
            <li>We respect opinions, ideologies and <strong>engage in constructive discussions</strong>.</li>
            <li>As contributors, <strong>we are the first ambassadors of the project</strong> and its values. Having outstanding written skills is essential to have a clear communication with people from within the community and out.</li>
        </ul>
    </div>

</div>

<!--Mobile-->

<div *ngIf="(screenWidth < 600)" class="MobileHighestSectionDiv" fxLayoutAlign="center center" fxLayout="column"> 

    <div id="MobileheadlineContainer" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="ClassMobileSectionH1" id="SectionH1">Ethos</h1>
        <p class="ClassMobileSubHeadingP" id="subHeadingP">The XCASH Foundation is managing the development of the XCASH Project, providing funding for community-driven projects and bounties for necessary developments.<br>‍<br>Join us and be part of this adventure with us.</p>
    </div>

    <div style="width: 70%">
        <h3 class="h3Mobile">What we believe in:</h3>
        <ul role="list" >
            <li class="liMobile">We are an <strong>open-source</strong> and <strong>self-funded</strong> project that aims at <strong>building technology first</strong>.</li>
            <li class="liMobile">We respect opinions, ideologies and <strong>engage in constructive discussions</strong>.</li>
            <li class="liMobile">As contributors, <strong>we are the first ambassadors of the project</strong> and its values. Having outstanding written skills is essential to have a clear communication with people from within the community and out.</li>
        </ul>
    </div>



    
</div>