<div class="HighestSectionDiv" fxLayout="column" fxFlex="100"  fxLayoutAlign="start center">

  <div fxLayout="row" class="row"id="row1" fxFlex="30" style="width:100%; height: 100%" fxLayoutGap="2vw" fxLayoutAlign="center center">

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw" >
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options" width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw" >
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw" >
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options" width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw" >
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw" >
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options"  width="12vw" height="12vw">
        </ng-lottie>
      </div>

      <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
        <ng-lottie class="lottie" [options]="options" width="12vw" height="12vw">
        </ng-lottie>
      </div>
<!--Boysit-->

  </div>

  <div fxLayout="row" id="row2" class="row" fxFlex="30" style="width:100%; height: 100%; " fxLayoutGap="4vw" fxLayoutAlign="center center">
<!--manPhone-->
    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw">
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
      <ng-lottie class="lottie lottie2And3" [options]="options2"  width="8vw" height="8vw" >
      </ng-lottie>
    </div>

</div>


<div fxLayout="row" id="row4" class="row"fxFlex="30" style="width:100%; height: 100%; " fxLayoutGap="2vw" fxLayoutAlign="center center">
<!--Device-->
  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"  width="25vw" height="25vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"  width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"  width="25vw" height="25vw" >
    </ng-lottie>
  </div>

  <div class="spinner"> </div>
  <p id="notFound">Not Found</p>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"  width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"  width="25vw" height="25vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"  width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

  <div class="lottieContainer lottieContainer3" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie3 " [options]="options3"   width="25vw" height="25vw"  >
    </ng-lottie>
  </div>

</div>

<div fxLayout="row" id="row3" class="row"fxFlex="30" style="width:100%; height: 100%; " fxLayoutGap="4vw" fxLayoutAlign="center center">
<!--woman-->
  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3 " [options]="options4"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3 " [options]="options4"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

    <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3 " [options]="options4"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie lottie2And3" [options]="options4"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

</div>

<div fxLayout="row" id="row5" class="row"fxFlex="30" style="width:100%; height: 100%; " fxLayoutGap="4vw" fxLayoutAlign="center center">
 <!--Leaf-->
  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw" >
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

  <div class="lottieContainer" fxFlex="5" style="width: 100%; height: 100%">
    <ng-lottie class="lottie" [options]="options5"  width="8vw" height="8vw">
    </ng-lottie>
  </div>

</div>



</div>





<!--div id="overview" class="section full-height middle-centered black wf-section">

  <ng-lottie class="lottie" [options]="options" class="background-animation" data-default-duration="4.183333333333334" data-duration="0">
  </ng-lottie>

  <div class="pos-down">
    <div class="w-col w-col-12">
      <div class="spinner"></div>
      <h1 class="h1-section col-white pos-bottom"><strong>404</strong><br> Page Not Found</h1>

      <button ><strong >Discover XCASH</strong></button>

    <img *ngIf="!buttonFlag" class="image-big" src="\..\assets\images\Discover.svg" alt="here!!">
    </div>
    <div #target class="w-col w-col-12"-->

