#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
}

#mainContent{
    padding-top:2vh
}

.mainContentP{
    width:100%;
    text-align: justify;
    text-align-last: center
}

#headlineContainer{
    padding-top:2vh;
}

.HighestSectionDiv{
    padding-bottom:0vh;
    height:100vh
}

#buttonContainer{
    width:50%
}

#SectionH1{
    color:#1f1f1f;
    background: #fa741c;
    width:50%
}

.contentContainerMainLanding{
    width: 82%
}

//Mobile

.MobileButtonContainer{
    width: 70%; 
}