#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
    width:70%
}

#mainContent{
    padding-top:2vh;
}

#headlineContainer{
    height:20%
}

#mainContentContainer{
    width: 100%
}

.HighestSectionDiv{
    padding-top: 10vh;
}

#lottie1{
    fill: transparent !important;
    filter: brightness(20%)  grayscale(100%) drop-shadow(0 0 3px #fa741c);
}


