#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
    width:70%
}

#mainContent{
    padding-top:2vh;
}

#headlineContainer{
    height:20%
}

#mainContentContainer{
    width: 100%
}

.HighestSectionDiv{
    padding-top: 10vh;
}