#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
    width:70%
}

#mainContent{
    padding-top:2vh;
}

.HighestSectionDiv{
    height:100vh;
    padding-top:4vh;
    padding-bottom: 0vh
}

button{
    width: 95%
}
//Mobile

.MobileButtonContainer{
    width: 74%; 
  }