#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
    width:70%
}

#mainContent{
    padding-top:2vh;
    text-align:left;
}

.HighestSectionDiv{
    height:110vh;
    padding-top:10vh;
    padding-bottom:10vh
}

