<div fxHide.xs fxShow.gt-xs fxLayout="column" fxFlex="100" class="HighestSectionDiv" fxLayoutAlign="center center">
    <h1 id="heading">Power of the Web3<br></h1>
    <p>Since 2018, we have been developing a privacy-centric open-source technology. <br><br>In a context of an increasing need for privacy and personal data protection, the XCASH protocol is positioning itself as a bridge between the users and the blockchain layer.<br><br>At the same time we believe anonymity cannot come without transparency options, for regulatory reasons, and because blockchain transparency is the best medium for trust.<br><br>Despite having not performed an ICO, the XCASH development has been carried throughout the years thanks to a growing community of contributors.<br></p>
</div>


<div fxShow.xs fxHide.gt-xs fxLayout="column" fxFlex="100" class="HighestSectionDiv" fxLayoutAlign="center center">
  <h1 id="heading">Power of the Web3<br></h1>
  <p class="MobileP">Since 2018, we have been developing a privacy-centric open-source technology. <br><br>In a context of an increasing need for privacy and personal data protection, the XCASH protocol is positioning itself as a bridge between the users and the blockchain layer.<br><br>At the same time we believe anonymity cannot come without transparency options, for regulatory reasons, and because blockchain transparency is the best medium for trust.<br><br>Despite having not performed an ICO, the XCASH development has been carried throughout the years thanks to a growing community of contributors.<br></p>
</div>