h1{
    font-size: 9vw;
    width: 100%;
    text-align: center;
    padding-bottom:0vh;
    color:#fa741c;
}

p{
    width:70%;
    font-size: 1.5vw;
}

#heading{
    opacity: 1;
    animation: unset;
   
}

.MobileP{
    font-size: 6vw; 
    padding-top: 2vh
}