.HighestSectionDiv{
    height:110vh;
}

#headlineContainer{
    padding-bottom:4vh;
}

#SectionH1{
    font-family: 'Archivo', sans-serif;
    color:#fa741c;
    font-size: 9vw;
    font-weight:800 !important;
    letter-spacing: 4px;
    text-align: center;
    width:45%;
    background: none;
    height:90%;
}

#subHeadingP{
    width:60%;
    text-align:center;
}

#totalContentContainer{
    width: 70%;
    height:100%;
}


#buttonContainer{
    width: 70%; 
    height: 35px; 
    padding-top:0vh;
    padding-left:2vw
}

.paragraph {
    width: 100%;
    height:100%;
    color: #fa741c;
    padding-left: 2vw;
    overflow-x:hidden
}

.paragraphH4 {
    width: 100%;

    height:60%;
    color: #fa741c;
    padding-left: 2vw;
    overflow-x:hidden
}
  

h4{
    margin-bottom: 0;
}

.percentage {
    margin-top: 0px;
    font-family: Exo, sans-serif;
    font-size: 5em;
    font-weight: 700;
    color: white;
    padding-left: 2vw;
}
  
.tabButtonContainer{
    width:100% !important; 
    height:100% !important;
}


.tabButtonContainer:hover{
    background: #fa741c;
    color:white
}

.tabButtonContainer:hover > .tabButton{
    color:white
}

.tabButton:focus{
    background: #fa741c;
    color:white;
}

.tabButton{
    width:100% !important; 
    height:100% !important;
    font-size: 1.4vw;
    font-weight: 700;
    cursor: pointer;
}

.contentContainerPercent{
    padding-bottom:4vh;
    width:50%;
    border-right: #fa714c 1px solid;
    border-bottom: #fa714c 2px solid;
    border-top: #fa714c 9px solid;

}

a{
    text-decoration: none;
    color: unset;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display:block;
}

#MobileTotalContentContainer{
    width: 80%;
    height:100%;
}

button{
    background: unset !important;
}
button:hover{
    color: white !important
}
button:focus{
    color: white !important;
    background: #fa741c !important
}

//Mobile

.MobilePercentage {
    margin-top: 2vh;
    font-family: Exo, sans-serif;
    font-size: 10vw;
    font-weight: 700;
    color: white;
    padding-left: 1vw;
   
}

.MobileParagraph {
    width: 100%;
    height:100%;
    color: #fa741c;
    padding-left: 2vw;
    overflow-x:hidden;
    font-size: 2.6vw
}

.MobileParagraphH4 {
    width: 100%;
    height:50%;
    color: #fa741c;
    padding-left: 2vw;
    overflow-x:hidden;
    font-size: 2.6vw
}

.MobileParagraphSha{
    width: 100%;
    height:100%;
    color: #fa741c;
    padding-left: 2vw;
    overflow-x:hidden;
    font-size: 1.9vw
}

#MobileButtonContainer{
    width: 70%; 
    height: 35px; 
    padding-top:2vh;
    padding-bottom:4vh;
    padding-left:2vw
}