p{
    padding-bottom:4vh;
}

li{
    color:white;
    font-size: 2.7vh;
    padding-top:1vh !important;
    padding-bottom:1vh !important;
    font-size: 2.3vh !important; 
    border-top: #fa741c 3px solid;
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1OCA1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI2ZmNmQwMCIgZD0iTTAgMGg1OHY1OEgweiIvPjwvc3ZnPgo=");
}
ul{
    padding-right: .5vw;
}

.HighestSectionDiv{
    padding-top: 0vh
}

#lottie1{
    fill:#12829c  !important;
    stroke: #12829c !important
}
#subHeadingP{
    padding-bottom: 2vh;
}


#SectionH1{
    width:50%
}

#line{
    border-top: 10px solid #fa741c; 
    width: 100%; 
    text-align: center;
    padding-bottom: 2vh
}

//Mobile

