#highestDiv{
    height:100vh;
    width:100%;
    background: #1f1f1f;
    color: #fa741c;
    overflow:hidden
}

.landing-headline {
    text-align: center;
}

#centerColumn{
    margin-right:-25vw;
    margin-left: -25vw;
    z-index:2
}

a{
    padding:0;
    margin:0;
}

h1{
    font-size: 9vw;
    width: 100%;
    text-align: center;
    padding-bottom:15vh;
}

h4{
    color:#fa741c;
    font-size:.65em
}

svg{
    width: 80%;
    height: 80%;
    fill: #fa741c;
    stroke-opacity: .5;
    stroke: #fa741c;
    stroke-width: 5%;
    transform: translateY(10vh);
    cursor: pointer;
}

svg:hover{
    stroke: white;
    fill: white
}

#arrowContainer{
    position: relative;
    text-align: center; 
    animation: arrowMove 1.7s infinite;
    animation-play-state: running;
}

#arrowContainer:hover{
    animation-play-state: paused
}
@keyframes arrowMove {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(3vh);
    }
    100%{
        transform: translateY(0px);
    }
}

//Mobile

#highestDivMobile{
    height:100%;
    width:100%;
    background: #1f1f1f;
    color: #fa741c;
    overflow:hidden
}

.Mobileh1{
    font-size: 16vw;
    width: 100%;
    text-align: center;
    padding-bottom:0vh !important;
}

#MobilearrowContainer{
    position: relative;
    width:10%;
    text-align: center; 
}


#MobileSvg{
    width: 80%;
    height: 80%;
    fill: #fa741c;
    stroke-opacity: .5;
    stroke: #fa741c;
    stroke-width: 5%;
    transform: translateY(-4vh);
    cursor: pointer;
}

#MobileSvg:active{
    stroke: white;
    fill: white
}


#Animatedlogo{
    width: 24%;
    height: 24%;
    left: 38%;
    bottom: 53%;
    animation: logoToTop 0.6s linear 1 forwards;
    animation-delay: 3500ms;
    position: absolute;
    transform: scale(30);
}

#NoDelayAnimatedlogo{
    width: 24%;
    height: 24%;
    left: 38%;
    bottom: 53%;
    animation: logoToTop 0.6s linear 1 forwards;
    position: absolute;
    transform: scale(30);
}

@keyframes logoToTop {
    10%{
        transform:scale(35);
    }
    20%{
        transform:scale(10);
    }
    to {
        transform: scale(1);
    }
}

.AnimatedSvgContainer{
    width:100%;
    height:100%;
    padding: 100% ;
    position:absolute;
    //overflow: hidden;
}

  //Mobile

.MobileHighestSectionDiv{
    height:100vh
}

.Mobileh1{
    font-size: 16vw;
    background: #1f1f1f;
    width: 100%;
    height:100%;
    padding-top:5vh;
    padding-bottom:5vh;
    text-align: center;
    transform: translateX(0vw);
    z-index:2
}

#MobileHeadingContainer{
    height:100%;
    width:100%;
    text-align: center;
}

#MobileAnimatedlogo{
    width: 24%;
    height: 24%;
    left: 44%;
    bottom: 39%;
    animation: MobilelogoToTop 0.6s linear 1 forwards;
    animation-delay: 3500ms;
    position: absolute;
    transform: scale(30);
}

#NoDelayMobileAnimatedlogo{
    width: 24%;
    height: 24%;
    left: 44%;
    bottom: 39%;
    animation: MobilelogoToTop 0.6s linear 1 forwards;
    position: absolute;
    transform: scale(30);
}

@keyframes MobilelogoToTop {
    10%{
        transform:scale(35);
    }
    20%{
        transform:scale(10);
    }
    to {
        transform: translateX(-7.2vw) scale(1);
    }
}

.MobileAnimatedSvgContainer{
    width:100%;
    height:100%;
    padding-top:100%;
    padding-bottom:100%;
    position:absolute;
    overflow: hidden;
}


@media screen and (min-width: 601px) {
    body .MobileHighestSectionDiv {
      display: none !important;
    }


  }