<div *ngIf="(screenWidth >= 600)" (window:resize)=" onResize($event)" fxLayoutAlign="center center" fxLayout="row" id="highestDiv" fxFlex="100">

    <div fxLayout="column" fxFlex="33" style="width:100%; height:100%; margin-top:6vh; transform: scale(1.3)" fxLayoutAlign="center end">
        <ng-lottie aria-label="An animation of a city scape with people using technology, in orange" [options]="optionsLeft" width="50vw" height="50vw" style="z-index: 0;  transform: scaleX(-1)"></ng-lottie>
    </div>
    

    <div fxLayout="column" fxFlex="33" id="centerColumn" fxLayoutAlign="center center" >

        <div fxLayoutAlign="center center" class="landing-headline">
            <h1>Welcome Web3</h1>
        </div> 

        <div id="arrowContainer">
            <a (click)="scrollToNextSection()">
                <svg role="button"  aria-label="A button arrow to navigate to the next section, animated. The animation travels on the y-axis a short distance and stops moving when a mouse hovers over it." xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="4vw">
                    <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
                </svg>
            </a>
        </div>

    </div>

    <div fxLayout="column" fxFlex="33" style="width:100%; height:100%;  margin-top:6vh; transform: scale(1.3) " fxLayoutAlign="center start">
        <ng-lottie aria-label="An animation of a city scape with people using technology, in blue" [options]="optionsRight" class=""    width="50vw" height="50vw"  style="z-index: 0;  "></ng-lottie>
    </div>

</div>

<!--Mobile-->

<div *ngIf="(screenWidth < 600)" (window:resize)=" onResize($event)" fxLayoutAlign="center center" fxLayout="column" id="highestDivMobile" fxFlex="100">

    <div fxLayout="column" fxFlex="43" style="width:100%; height:100%;  transform: translate(0vw 0vh) scale(1.3); " fxLayoutAlign="center center">
        <ng-lottie aria-label="An animation of a city scape with people using technology, in orange" [options]="optionsLeft" width="105vw" height="105vw" style="z-index: 0;  transform: scaleX(-1)"></ng-lottie>
    </div>
    

    <div fxLayout="column" fxFlex="13" id="" fxLayoutAlign="center center" style=" width:100%; height:100%" >

        <div fxLayoutAlign="center center" style="width:100%; height:100%" class="landing-headline">
            <h1 class="Mobileh1">Welcome<br> Web3</h1>
        </div> 


    </div>

    <div fxLayout="column" fxFlex="43" style="width:100%; height:100%; transform: translate(0vw 0vh) scale(1.3); " fxLayoutAlign="center center">
        <ng-lottie aria-label="An animation of a city scape with people using technology, in blue" [options]="optionsRight" class=""    width="105vw" height="105vw"  style="z-index: 0; "></ng-lottie>
    </div>


    <div id="MobilearrowContainer">
        <a (click)="scrollToNextSection()">
            <svg role="button" aria-label="A button arrow to navigate to the next section" id="MobileSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490" xml:space="preserve" width="10vw">
                <path d="M366.291 109.411 244.998 233.196 123.709 109.411l37.869-36.982 83.42 85.135 83.424-85.135z"/><path d="M490 167.534 244.996 417.571 0 167.534l76.493-74.702L244.996 264.8 413.507 92.832z"/>
            </svg>
        </a>
    </div>

</div>

