#pHeading{
    color: #fa741c;
    padding-bottom:.8vh;
    width:70%
}

#mainContent{
    padding-top:2vh;
    width:100%; 
    height: 50%;
}

#headlineContainer{
    height:40%
}

#mainContentContainer{
    width: 100%
}

.HighestSectionDiv{
    padding-top:5vh;
    height:100vh;
}
#buttonContainer{
    padding-top: 4vh;
}

