.HighestSectionDiv{
    padding-top:5vh
}

#SectionH1{
    width:70%
}

.bubble-title {
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 6vh;
    font-size: 2vw;
    color:white;
    font-weight: 700;
    text-align: center;
    height:90%;
}

.MobileBubbleTitle {
    padding-bottom: 0vh !important; 
    font-size: 4vw;
}


button{
    padding-bottom:0vh
}

#buttonContainer{
    width:100%;
    transform: translateY(-9vh)
}
a{
    padding-top:.6vh;
    margin: 0
}


.MobileButtonContainer{
    width: 100%; 
}

.MobileHighestSectionDiv{
    padding-top: 5vh;
    padding-bottom: 8vh;
}

#MobileheadlineContainer{
    padding-bottom: 6vh
}